


@font-face {
    font-family: 'Nineteenth';
    src: url('fonts/Nineteenth.woff2') format('woff2'),
    url('fonts/Nineteenth.woff') format('woff');
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    max-width: 1460px;
    margin: 0 auto;
    overflow: hidden;
    font-family: Nineteenth;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-wrapper {
    position: relative;
    width: auto;
    margin: 0;
}

.navbar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    right: 0;
    padding-left: 0;
}

.top-smaller {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: 80px;
    background: transparent url('assets/Top-Smaller.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.top-long {
    position: absolute;
    top: -25px;
    left: -47px;
    width: 1311px;
    height: 144px;
    background: transparent url('assets/Top-long.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.logo {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 63px;
    height: 78px;
    background: transparent url('assets/Logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.flag {
    position: absolute;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flag.english {
    top: 22px;
    left: 1255px;
    width: 85px;
    height: 45px;
    mix-blend-mode: luminosity;
    opacity: 1;
}
.flag.polish {
    top: 22px;
    left: 1343px;
    width: 85px;
    height: 45px;
    mix-blend-mode: luminosity;
    opacity: 1;
}

.flag:hover {
    mix-blend-mode: normal;
}

.slogan {
    position: absolute;
    top: 3px;
    left: 107px;
}

.slogan h1 {
    font-size: 50px;
    letter-spacing: -1.25px;
    width: 276px;
    height: 55px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
}

.slogan p {
    width: 381px;
    height: 18px;
    text-align: left;
    letter-spacing: -0px;
    color: #D1D2D2;
    opacity: 1;
    margin: 0;
    white-space: nowrap;
    margin-top: 5px;
}
.graphics-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: -50px;
    z-index: 1;
}

.graphic-krk-container,
.graphic-primo-container,
.graphic-zako-container {
    position: relative;
    width: 491px;
    height: 826px;
    opacity: 1;
}

.graphic-krk-container img,
.graphic-primo-container img,
.graphic-zako-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.2);
    transition: filter 0.666s ease-in-out;
    -webkit-transition: filter 0.666s ease-in-out;
    -moz-transition: filter 0.666s ease-in-out;
    -o-transition: filter 0.666s ease-in-out;

}

.graphic-krk-container img{
    margin-top: 130px;
    height: calc(100% - 130px);
}
.graphic-krk-container:hover img,
.graphic-primo-container:hover img,
.graphic-zako-container:hover img {
    filter: brightness(0.7);
}

.goto-btn,
.reservation-btn,
.graphic-text {
    position: absolute;
    width: 100%;
    text-align: center;
    letter-spacing: -1.23px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: normal;
    font-size: 58px;
    top: 320px;
}



.goto-btn {
    position: absolute;
    top: 230px;
    left: 109px;
    width: 261px;
    height: 70px;
    border: 5px solid #FFFFFF;
    border-radius: 40px;
    opacity: 1;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -1.25px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    line-height: 70px;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.goto-btn:hover {
    transform: scale(1.1);
    border: #FFFFFF solid 7px;
    font-weight: bold;
}



.reservation-btn {
    position: absolute;
    top: 649px;
    left: 109px;
    width: 261px;
    height: 80px;
    background: #BDB69F 0% 0% no-repeat padding-box;
    box-shadow: 0px 28px 62px #A39D8985;
    border-radius: 40px;
    opacity: 1;
    font-size: 33px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -0.75px;
    cursor: pointer;
    border: none;
    -webkit-transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

}

.reservation-btn:hover {
    background-color: #A39D89;
    transform: scale(1.1);
}

