/* Global.css */
@font-face {
    font-family: 'Nineteenth';
    src: url('fonts/Nineteenth.woff2') format('woff2'),
    url('fonts/Nineteenth.woff') format('woff');
}

/* Zdefiniowanie stylów dla głównego kontenera */
.main-container {
    display: flex;                  /* Użycie flexboxa dla umiejscowienia dzieci */
    flex-direction: column;         /* Układanie dzieci w kolumnie */
    align-items: flex-start;            /* Wyśrodkowanie dzieci w poziomie */
    height: 900px;                   /* Wysokość kontenera dopasowana do zawartości */
    min-height: 100vh;              /* Minimalna wysokość kontenera to 100% wysokości okna przeglądarki */
    width: 100vw;                   /* Szerokość kontenera to 100% szerokości okna przeglądarki */
    max-width: 1460px;              /* Maksymalna szerokość kontenera to 1460px */
    margin: 0 auto;                 /* Wyśrodkowanie kontenera na stronie */
    overflow: hidden;               /* Ukrycie zawartości przekraczającej kontener */     /* Dodanie odstępu wewnętrznego po bokach kontenera */
    font-family: Nineteenth; /* Użycie fontu Nineteenth */
    padding: 0;
}


/* Zdefiniowanie stylów dla kontenera paska nawigacyjnego */
.navbar-wrapper {
    position: relative;             /* Pozycja względna względem main container */
    width: auto;                    /* Szerokość kontenera to 100% szerokości rodzica (main container) */
    margin: 0;

}

/* Zdefiniowanie stylów dla paska nawigacyjnego */
.navbar-container {
    position: absolute;             /* Pozycja względna względem rodzica (navbar wrapper) */
    display: flex;                  /* Użycie flexboxa dla umiejscowienia dzieci */
    flex-direction: column;         /* Układanie dzieci w kolumnie */
    align-items: flex-start;
    justify-content: flex-end;
    /* Wyśrodkowanie dzieci w poziomie */
    width: 100%;                    /* Szerokość kontenera to 100% szerokości rodzica (navbar wrapper) */
    top: 0;                         /* Odległość od górnej krawędzi rodzica (navbar wrapper) */
    right: 0;
    padding-left: 0;

}




.top-smaller {
    position: relative;
    top: 0;
    right: 0;


    width: auto;
    height: 80px;
    background: transparent url('assets/Top-Smaller.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.top-long {
    position: absolute;
    top: -25px;
    left: -47px;
    width: 1311px;
    height: 144px;
    background: transparent url('assets/Top-long.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.logo {
    position: absolute;
    top: 9px;
    left: 4px;
    width: 63px;
    height: 78px;
    background: transparent url('assets/Logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.flag {
    position: absolute; /* Pozycjonowanie flagi względem rodzica */
    border: none; /* Usunięcie domyślnych obramowań */
    cursor: pointer; /* Ustawienie kursora myszy jako wskaźnika */
    box-sizing: border-box;
    overflow: hidden;


}

.flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flag.english {
    top: 22px; /* Ustawienie odległości od górnej krawędzi rodzica */
    left: 1255px; /* Ustawienie odległości od lewej krawędzi rodzica */
    width: 90px; /* Szerokość kontenera flagi */
    height: 45px; /* Wysokość kontenera flagi */
    mix-blend-mode: luminosity; /* Tryb mieszania tła dla efektu szarości */
    opacity: 1; /* Przezroczystość flagi */
}
.flag.polish {
    top: 22px; /* Ustawienie odległości od górnej krawędzi rodzica */
    left: 1343px; /* Ustawienie odległości od lewej krawędzi rodzica */
    width: 90px; /* Szerokość kontenera flagi */
    height: 45px; /* Wysokość kontenera flagi */

    mix-blend-mode: luminosity; /* Tryb mieszania tła dla efektu szarości */

    opacity: 1; /* Przezroczystość flagi */

}

.flag:hover {
    mix-blend-mode: normal; /* Przywrócenie normalnego trybu mieszania na hover */
}


.slogan {
    position: absolute;
    top: 3px;
    left: 107px;
}

.slogan h1 {
    font-size: 50px;
    letter-spacing: -1.25px;
    width: 276px;
    height: 55px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    font-weight: normal;
}


.slogan p {
    width: 381px;
    height: 18px;
    text-align: left;
    letter-spacing: -0px;
    color: #D1D2D2;
    opacity: 1;
    margin: 0;
    white-space: nowrap;
    margin-top: 5px;
}




/* Zdefiniowanie stylów dla kontenera z grafikami */
.graphics-container {
    display: flex;                  /* Użycie flexboxa dla umiejscowienia dzieci */
    justify-content: space-between; /* Rozmieszczenie dzieci z równym odstępem */
    align-items: center;        /* Wyrównanie dzieci do górnej krawędzi kontenera */
    width: 100%;                  /* Szerokość kontenera to 100% szerokości rodzica (main container) */
    position: relative;             /* Pozycja względna względem rodzica (main container) */
    top: -50px;                     /* Przesunięcie kontenera w górę o 50px */
    z-index: 1;                     /* Określenie indeksu warstwy kontenera (niższa wartość niż navbar) */
}

.graphic-krk-container,
.graphic-primo-container,
.graphic-zako-container {
    position: relative;
    width: 491px;
    height: 826px;
    opacity: 1;
}

.graphic-krk-container img,
.graphic-primo-container img,
.graphic-zako-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Skalowanie proporcjonalne obrazka */
    filter: brightness(0.2); /* Przekształcenie obrazków na czarno-złote */
    transition: filter 0.666s ease-in-out; /* Dodanie płynnego przejścia dla efektu szarości */
}

.graphic-krk-container img{
    margin-top: 130px;
    height: calc(100% - 130px);
}
.graphic-krk-container:hover img,
.graphic-primo-container:hover img,
.graphic-zako-container:hover img {
    filter:  brightness(0.7); /* Przywrócenie normalnych kolorów na hover */
}

.goto-btn,
.reservation-btn,

.graphic-text {
    position: absolute;
    top: 241px;
    width: 100%; /* Dodaj tę linię */
    font-size: 58px;
    text-align: center; /* Zmień na 'center' */
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: normal;

}


.graphic-krk-container:hover .goto-btn,
.graphic-krk-container:hover .reservation-btn,
.graphic-krk-container:hover .graphic-text,
.graphic-primo-container:hover .goto-btn,
.graphic-primo-container:hover .reservation-btn,
.graphic-primo-container:hover .graphic-text,
.graphic-zako-container:hover .goto-btn,
.graphic-zako-container:hover .reservation-btn
.graphic-zako-container:hover .graphic-text{
}

.goto-btn {
    position: absolute;
    top: 230px;
    left: 109px;
    width: 261px;
    height: 70px;
    border: 5px solid #FFFFFF;
    border-radius: 40px;
    opacity: 1;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -1.25px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    line-height: 70px;


}

.goto-btn:hover {
    transform: scale(1.1);
    border: #FFFFFF solid 7px;
    font-weight: bold;


}




.graphic-text {
    position: absolute;
    top: 290px;
    width: 100%;
    font-size: 58px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.reservation-btn {
    position: absolute; /* Pozycjonowanie elementu względem najbliższego przodka o pozycjonowaniu innym niż statyczne (w tym przypadku .graphic-krk-container, .graphic-primo-container, .graphic-zako-container) */
    top: 649px; /* Odległość od górnej krawędzi najbliższego przodka o pozycjonowaniu innym niż statyczne */
    left: 109px; /* Odległość od lewej krawędzi najbliższego przodka o pozycjonowaniu innym niż statyczne */
    width: 261px; /* Szerokość przycisku */
    height: 80px; /* Wysokość przycisku */
    background: #BDB69F 0% 0% no-repeat padding-box; /* Kolor tła przycisku, bez powtarzania obrazka, zastosowanie padding-box */
    box-shadow: 0px 28px 62px #A39D8985; /* Cień dla przycisku, przesunięcie X: 0px, przesunięcie Y: 28px, rozmycie: 62px, kolor: #A39D8985 (85 oznacza 85% widoczności koloru) */
    border-radius: 40px; /* Zaokrąglenie rogów przycisku */
    opacity: 1; /* Przezroczystość przycisku, 1 oznacza całkowicie widoczny */
    font-size: 33px; /* Rozmiar czcionki tekstu przycisku */
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    color: #FFFFFF; /* Kolor tekstu przycisku */
    letter-spacing: -0.75px; /* Odstęp między literami tekstu przycisku */
    cursor: pointer; /* Ustawienie kursora myszy jako wskaźnika (ręka z wskazującym palcem) */
    border: none; /* Usunięcie obramowania przycisku */
    transition: color 0.3s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out; /* Dodanie płynnego przejścia dla przekształceń i cienia */
}

.reservation-btn:hover {
    background: #BDB69F;
    box-shadow: 0px 14px 31px #A39D8985; /* Zmniejszenie cienia */
    transform: scale(1.1); /* Dodanie przekształcenia, które zmniejsza przycisk o 5% */
}

/* Dodaj te media queries na końcu global.css */

@media (max-width: 767px) {
    .main-container {
        padding: 0;
    }

    .navbar-container {
        flex-direction: row;
    }

    .graphics-container {
        flex-direction: column;
        top: 0;
    }

    .graphic-krk-container,
    .graphic-primo-container,
    .graphic-zako-container {
        width: 100%;
        height: auto;
    }

    .graphic-krk-container img,
    .graphic-primo-container img,
    .graphic-zako-container img {
        height: auto;
    }

    .goto-btn,
    .reservation-btn,
    .graphic-text {
        font-size: 30px;
    }



}
