


@font-face {
    font-family: 'Nineteenth';
    src: url('fonts/Nineteenth.woff2') format('woff2'),
    url('fonts/Nineteenth.woff') format('woff');
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    font-family: Nineteenth;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


    position: relative;
}

.navbar-wrapper {
    position: absolute;
    width: 100%;
    margin: 0;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 0;
}

.top-stripe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #808080;
    z-index: 0;
}


.top-long {
    position: absolute;
    left: -60px;
    top: -25px;
    height: 144px;
    opacity: 1;
    z-index: 1;
}
.top-long img{
    width:90vw;
    height:100%;
    z-index: 2;
}
.logo {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 63px;
    height: 78px;
    background: transparent url('assets/Logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 2;
}



@media screen and (max-width: 600px) {
    .logo  {
        top:13px
    }
  }


.flags-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    min-width: 10vw;

}

.flag-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag-english{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 45px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    filter: grayscale(100%);
    opacity: 1;
    z-index: 3;
}




.flag-polish {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 45px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    filter: grayscale(100%);
    opacity: 1;
    z-index: 3;
    margin-right: 3vw;
}

.flag-english img,
.flag-polish img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flag-english:hover,
.flag-polish:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1000px) {
    .flag-english,
    .flag-polish {
        width: 50px;
        height: 25px;
    }
    .flag-polish{
        margin-right: 4vw;
    }
  }

@media screen and (max-width: 600px) {

    .flag-polish{
        margin-right: 10vw;
    }
  }


@media screen and (max-width: 400px) {

    .flag-polish{
        margin-right: 15vw;
    }
}


.slogan {
    margin-top: 8px;
    position: absolute;
    top: 2%;
    left: 7em;
    z-index: 2;
}

.slogan h1 {
    
    font-size: 50px;
    letter-spacing: -1.25px;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
}
@media screen and (max-width: 1000px) {
    .slogan  {
    margin-top: 3px    }
  }

@media screen and (max-width: 600px) {
    .slogan  {
      left: 2em;
    }
  }

.slogan p {
    font-size: 20px;
    text-align: left;
    letter-spacing: -0px;
    color: #D1D2D2;
    opacity: 1;
    white-space: nowrap;
}

.paragraph-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .paragraph-container {
        flex-direction: column;
    }

    .slogan .p1 {
        margin-top: -3px;
    }
    .slogan .p2 {
    margin-top: -5px;

    }

}
@media screen and (max-width: 600px) {
    .slogan p  {
        font-size: 6px;
      width:200px;
    }
  }




.graphics-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    top: -50px;
    z-index: 1;
    margin-top: 130px;
}
@media screen and (max-width: 600px) {
    .graphics-container {
flex-direction: column;
height: 30vh;
}
}
.graphic-krk-container,
.graphic-primo-container,
.graphic-zako-container {

    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .graphic-krk-container,
.graphic-primo-container,
.graphic-zako-container {
height: 30vh;
}
}
.graphic-krk-container img,
.graphic-primo-container img,
.graphic-zako-container img {
    
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.2);
    transition: filter 0.666s ease-in-out;
    -webkit-transition: filter 0.666s ease-in-out;
    -moz-transition: filter 0.666s ease-in-out;
    -o-transition: filter 0.666s ease-in-out;
}
@media screen and (max-width: 600px) {
    .graphic-krk-container img,
.graphic-primo-container img,
.graphic-zako-container img {
height: 30vh;
filter: brightness(0.9);
}
}
.graphic-krk-container:hover img,
.graphic-primo-container:hover img,
.graphic-zako-container:hover img {
    filter: brightness(0.7);
}

.goto-btn,
.reservation-btn,
.graphic-text {
    position: absolute;
    text-align: center;
    letter-spacing: -1.23px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: normal;
    font-size: 58px;
    top: 40%;
}

@media screen and (max-width: 600px) {
    .graphic-text {
 font-size: 20px;
 text-align: left;
    }
}
.goto-btn {
    position: absolute;
    top: 25%;
    width: 261px;
    height: 70px;
    border: 5px solid #FFFFFF;
    border-radius: 40px;
    opacity: 1;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: -1.25px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    line-height: 70px;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .goto-btn  {
        width: 60px;
        height: 25px;
 font-size: 15px;
 top:20%;
 line-height: 24px;
 border: 2px solid;
    }
}
.goto-btn:hover {
    transform: scale(1.1);
    border: #FFFFFF solid 7px;
    font-weight: bold;
}



.reservation-btn {
    position: absolute;
    top: 75%;
    width: 261px;
    height: 80px;
    background: #BDB69F 0% 0% no-repeat padding-box;
    box-shadow: 0px 28px 62px #A39D8985;
    border-radius: 40px;
    opacity: 1;
    font-size: 33px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -0.75px;
    cursor: pointer;
    border: none;
    -webkit-transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

}
@media screen and (max-width: 600px) {
    .reservation-btn {
        width: 80px;
        height: 30px;
 font-size: 15px;
 color: black;
 top:65%;
 line-height: 20px;
    }
}

.reservation-btn:hover {
    background-color: #A39D89;
    transform: scale(1.1);
}
/* Skalowanie dla szerokości ekranu mniejszych niż 1440px */


